<div class="h-screen">
  <div class="flex justify-center items-center m-auto">
    <div class="px-10 py-5 pb-14 my-10 rounded eli-gradient eli-form-box-shadow">

      <h2 class="text-center text-3xl font-bold mb-5 pt-4 eli-color">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

          <div class="flex flex-col space-y-3">
            <div class="field">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true, size:30, placeholder:"username", class:"p-2 rounded outline-none eli-input-box" %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autocomplete: "email", size:30, placeholder:"email", class:"p-2 rounded outline-none eli-input-box" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", size:30, placeholder:"password", class:"p-2 rounded outline-none eli-input-box" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", size:30, placeholder:"confirm password", class:"p-2 rounded outline-none eli-input-box" %>
            </div>

            <div class="actions pt-2">
              <%= f.submit "Sign up", class:"py-2 px-4 cursor-pointer rounded eli-gradient-2 eli-color" %>
            </div>
          </div>
      <% end %>

