<div class="h-screen">
  <%= render "shared/flash_messages" %>

  <div class="flex justify-evenly">
  
    <%= image_tag("checklist-animate (1).svg", class:"w-1/3") %>
  
      <div class="pr-10">
        <div class="max-w-3xl text-center mt-8 p-5 rounded eli-gradient eli-form-box-shadow">  
          <%= form_with scope: :task, model: [@category, @task], local: true do |f| %>
  
            <div class="font-bold text-4xl eli-color">
              New Task
            </div>
            
            <div class="flex flex-col space-y-3 mt-5 text-black">
              <%= f.text_field :title, placeholder: " Task Title", class: "w-full placeholder-gray-700 focus:placeholder-gray-400 rounded outline-none p-3 eli-input-box" %>
              <%= f.text_area :description, size: "40x7", placeholder: " Task Description", class: "placeholder-gray-700 focus:placeholder-gray-400 rounded outline-none p-3 resize-none eli-input-box" %>
              <%= f.date_field :deadline, class: "rounded p-2", style:"background: rgba(250,250,250,.8)" %>
            </div>
  
            <%= f.submit 'Create Task', class:"flex justify-end px-4 py-2 text-white rounded-md cursor-pointer mt-4 eli-gradient-2" %>
          
          <% end %>
        </div>
      </div>
  
  </div>
</div>