<nav class="">
  <% if user_signed_in? %>

    <div class="flex justify-between max-w-6xl mx-auto py-1 px-2 items-center border-b border-opacity-40 border-gray-100">
    
      <div class="font-extrabold text-4xl py-1 hover:text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-gray-100 font-poppins">
        <%= link_to 'agenda', home_path %>
      </div>

      <div class="flex justify-around w-4/10 text-lg font-bold">

        <div class="px-2 hover:underline">
          <%= link_to 'Home', home_path, class:"px-2 py-2" %>
        </div>

        <div class="px-2 hover:underline">
          <%= link_to 'Add Agenda', new_category_path, class:"px-2 py-2" %>
        </div>


        <div class="px-2 right-profile">
          <a class="eli-menu-button px-2 py-2 cursor-pointer hover:underline " ><%= current_user.username %></a>

          <div class="dropdown-menu rounded bg-gray-600 p-2 w-10/12">
            <div class="flex flex-col">
              <%= link_to 'Edit Profile', edit_user_registration_path, class:"px-2 py-2 hover:underline eli-field-menu" %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:"px-2 py-2 hover:underline eli-field-menu" %>
            </div>
          </div>
        </div>
      
      </div>
    </div>

  <% else %>

    <div class="flex justify-between max-w-6xl mx-auto py-2 px-2 items-center border-b border-opacity-40 border-black">
    
      <div class="font-extrabold text-4xl hover:text-transparent bg-clip-text bg-gradient-to-br from-pink-500 to-black font-poppins">
        <%= link_to 'agenda', home_path %>
      </div>

      <div class="flex justify-around w-2/12 text-lg font-bold">

        <div class="flex items-center hover:underline">
          <%= link_to 'Sign in', new_user_session_path, class:"px-2 py-2" %>
        </div>

        <div class="flex items-center hover:underline rounded-md eli-gradient-2 px-2">
          <%= link_to 'Sign up', new_user_registration_path, class:"px-2 py-2" %>
        </div>

      </div>
    </div>
  
  <% end %>
</nav>

