<%= render "shared/nav" %>


<div class="flex flex-col items-center">
  <div class="text-5xl">
    <%= @category.title %>
  </div>

  <div class="flex text-3xl">
    <% @category.tasks.each do |task| %>
      <%= task.title %>
      <%= task.description %>
    <% end %>
  </div>



  <%= link_to "Add task", new_category_task_path(@category) %>
</div>